<%- include('./partials/_header.ejs') %>
   <!-- body -->
   <body class="main-layout">
      <%- include('./partials/_navigation.ejs') %>
      <!-- end header -->
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Register</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  add-workout -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="offset-md-1 col-md-10">
                  <form method="POST" action="/attender/register_attender" class="main_form">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="contactus" name="name" placeholder="Name" type="type" > 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus"  name="surname" placeholder="Surname" type="type"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus"  name="email" placeholder="Email" type="type"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus"  name="password" placeholder="Password" type="password"> 
                        </div>
                        <div class="col-md-12">
                           <div class="form-row">
                              <label for="selectlevel" class="col-md-1 control-label" style="font-size:large">Seviye</label>
                              <select id="selectlevel" class="form-select contactus col-md-11" aria-label="Default select example" name="level">
                                 <option >1</option>
                                 <option >2</option>
                                 <option >3</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-md-12 ">
                           <button class="send_btn float-right" type="submit">Register</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end add-workout -->
      <!--  footer -->
      <%- include('./partials/_footer.ejs') %>